@page "{id:guid}"
@model Web.Pages.Productos.DetalleModel
@{
    ViewData["Title"] = "Detalle de Producto";
}

<h1>Detalle de Producto</h1>

<div class="mb-3">
    <label class="form-label"><strong>Id</strong></label>
    <input class="form-control" value="@Model.Producto.Id" readonly />
</div>

<div class="mb-3">
    <label class="form-label"><strong>Nombre</strong></label>
    <input class="form-control" value="@Model.Producto.Nombre" readonly />
</div>

<div class="mb-3">
    <label class="form-label"><strong>Descripción</strong></label>
    <input class="form-control" value="@Model.Producto.Descripcion" readonly />
</div>

<div class="mb-3">
    <label class="form-label"><strong>Precio</strong></label>
    <input class="form-control" value="@Model.Producto.Precio" readonly />
</div>

<div class="mb-3">
    <label class="form-label"><strong>Id SubCategoría</strong></label>
    <input class="form-control" value="@Model.Producto.IdSubCategoria" readonly />
</div>

<a asp-page="Index" class="btn btn-secondary">Volver</a>
<a asp-page="Editar" asp-route-id="@Model.Producto.Id" class="btn btn-warning">Editar</a>